<p id="notice"><%= notice %></p>

<h1>Tasks</h1>
<br>
<div class="container-fluid">
  <div class="card-columns">
    <% @tasks.each do |task| %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%= task.photo %>" alt="Card image cap">
        <div class="card-body">
          <%= link_to task.title, task %>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'New Task', new_task_path %>
